<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.helloproject.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.helloproject.SubActivity"
            android:label="@string/title_activity_sub" >
            <intent-filter>
                <action android:name="net.ritacc.android.action.SUB_ACTION" />

                <category android:name="net.ritacc.android.category.SUB_CATEGORY" >
                </category>
                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.helloproject.DialogExampleActivity"
            android:label="@string/title_activity_dialog_example" >
        </activity>
        <activity
            android:name="com.example.helloproject.SysActionActivity"
            android:label="@string/title_activity_sys_action" >
        </activity>
        <activity
            android:name="com.example.helloproject.FramExaActivity"
            android:label="@string/title_activity_fram_exa" >
        </activity>
        <activity
            android:name="com.example.helloproject.SurfaceViewActivity"
            android:label="@string/title_activity_surface_view" >
        </activity>
        <activity
            android:name="com.example.helloproject.ImgDrawIndexActivity"
            android:label="@string/title_activity_img_draw_index" >
        </activity>
        <activity
            android:name="com.example.helloproject.ImgDrawPathTestActivity"
            android:label="@string/title_activity_img_draw_path_test" >
        </activity>
        <activity
            android:name="com.example.helloproject.ImgDrawTextActivity"
            android:label="@string/title_activity_img_draw_text" >
        </activity>
    </application>

</manifest>
